/* @import "tailwindcss"; */

:root {
  --foreground: #ffffff;
  --background: #4682BE;
}

.Background{ 
  height: 100%;
  width: 100%;
  background-color: #4682BE;

}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #4682BE;
    --foreground: #ededed;
  }
} */

body {
  /* background-color: #4682BE; */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #4682BE;
    --foreground: #ededed;
  }
} */

