/* @import "tailwindcss"; */

:root {
  --foreground: #ffffff;
  --background: #f0f0f0;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
