body {
  background-color: #4682BE;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  flex: auto;
  align-content: center;
}

h1 {

    align-content: center;
    text-align: center;
}
h2 {

    align-content: center;
    text-align: center;
    color: black;
    font-size: 2rem;
}
p {

    align-content: center;
    text-align: center;
    color: black;
    font-size: 1rem;
    line-height: 0.2rem;
}

table{
  padding: 1%;
  border: 3px solid black; 
  width: 100%;
/* 
  border-color: black;
  border-radius: 2%; */
}

tr{
  border: 3px solid black;
  padding: 1rem;
}
td{
  border: 3px solid black;
  padding: 1rem;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  background-color: #ffffff;
}



thead{
      font-size: 2rem;

}

.JoinButton{
        align-content: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
}

.MyClasses{
  flex: 3 1 30%;
  max-width:30%;
  margin-left: auto;
  align-self: center;
  /* position: relative; */
  /* gap: inherit; */
  padding-left: 2rem;
  border-left: 10rem;
  left:2rem;

}