body {
  background-color: #4682BE;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  flex: auto;
  align-content: center;
}

h1 {

    align-content: center;
    text-align: center;
}
h2 {

    align-content: center;
    text-align: center;
    color: black;
    font-size: 2rem;
}
p {

    align-content: center;
    text-align: center;
    color: black;
    font-size: 1rem;
    line-height: 0.2rem;
}

table{
  padding: 1%;
  border: 3px solid black; 
  width: 100%;
/* 
  border-color: black;
  border-radius: 2%; */
}

tr{
  border: 3px solid black;
  padding: 1rem;
}
td{
  border: 3px solid black;
  padding: 1rem;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  background-color: #ffffff;
}

.ClassList{
  flex: 3 1 30%;
  position: relative;
  left:2rem;
  max-width:50%;
}

.ScheduleObject{
  /* position:relative; */
  display:flex;
  width: 100%;
  gap:1 rem;
  align-items: flex-start;

}

thead{
      font-size: 2rem;

}

#description{
        line-height: 1rem;
}

.JoinButton{
        align-content: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
}