body {
  background-color: #4682BE;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  flex: auto;
  align-content: center;
}

h1 {

    align-content: center;
    text-align: center;
}
h2 {

    align-content: center;
    text-align: center;
    color: black;
    font-size: 2rem;
}
p {

    align-content: center;
    text-align: center;
    color: black;
    font-size: 1rem;
    line-height: 0.2rem;
}

.ScheduleObject{
  /* position:relative; */
  display:flex;
  width: 100%;
  /* margin-right: 10rem; */
  /* left: 10rem; */
  /* margin-left: 10rem; */
  margin-right: 10rem;
  gap:rem;
  /* align-items: flex-start; */
  /* align-items: center; */
  min-height: 60vh;
    min-width:1000px;
    /* align-items: center; */
  justify-content: space-around;
gap: 1rem;
}

